
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: paleturquoise;
}

.main{
    font-family: Roboto;
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 50px;
}

.title{
   
    font-size: 3.5rem;
   
}

.boxes{
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 1100px;
    height: 100px;
    
    
    
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    

}

input{
    height: 50px;
    width: 80px;
    border-color: transparent;
    border-radius: 8px;
    font-style: Roboto;
    font-size: 40px;
    text-align: center;
}


